ul {
  list-style-type: none; /* เอาจุดข้างหน้าออก */
  padding: 0; /* เอา padding ออก */
  margin: 0; /* เอา margin ออก */
}

li {
  margin-bottom: 10px; /* เพิ่มช่องว่างระหว่างรายการ */
}

a {
  text-decoration: none; /* เอาขีดใต้คำออก */
  color: inherit; /* ทำให้สีของลิงก์เหมือนกับสีข้อความทั่วไป */
}

.GenIcon {
  margin-right: 8px; /* เพิ่มช่องว่างระหว่างไอคอนกับข้อความ */
  vertical-align: middle; /* จัดให้ไอคอนอยู่ตรงกลางแนวตั้งกับข้อความ */
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
